.information_window{
        height: min-content;
        width: 40vw;
        background: grey;
        border:  black 2px ridge;
        display: flex;
        flex-direction: column;
        margin: 10vh 40vw;
        justify-content: center;
        align-items: center;

}
h3{
    font-size: 0.8em;
}
P{
    font-size: 0.8em;
}