body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#deposite_div{
    height: 20vh;
    width: 20vw;
    border: #a80e2f 1px solid;
    border-radius: 15px;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 3em;
}